:root[data-theme="dark"] {
    /* --bg-secondary (Dark Mode) adalah #161b22 */
    --bg-secondary-rgb: 16, 24, 21;
}

:root[data-theme="light"] {
    /* --bg-secondary (Light Mode) adalah #f7f9fc */
    --bg-secondary-rgb: 247, 249, 252;
}